body {
  background-color: #fff;
  height: 100vh;
  border: 1px solid black;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-family: "Times New Roman", Times, serif;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
  margin-top: 20px;
}
h1 {
  font-family: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  outline: none;
}
#guess {
  direction: none;
  height: 30px;
}

#submit {
  width: 100px;
  height: 30px;
  background-color: antiquewhite;
}
